
.container__languages{    
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
    flex-direction: column;
    justify-content: space-around;
}
.box__column{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.language__box{
    border: 1px solid #45459c;
    width: 300px;
    height: 300px;
    padding: 10px;
    padding-top: 20px;
    transition: .3s;
    border-radius: 8px;
    margin: 2rem;
}

.language__box:hover{
    background-color: #45459c95;
    transform: scale(1.05);
}

.language__box:hover .language__image{
}

.language__image{
    width: 110px;
    height: 110px;
}

.language__title{
    font-size: 1.5rem;
}

.language__desc{
    margin-top: 20px;
    font-size: var(--normal-font-size);
}